<div class="loader" *ngIf="isShown">
    <img src="../../assets/loader.gif" title="loader" />
</div>
<app-header></app-header>
<div style="height: 50px;" (click)="goBack()">
    <div class="back_arrow_img"></div> 
    <div class="back_text"> Back </div>
</div>
<div><mat-card> 
    <span class="certtificate_title">
        Certificates
    </span> 
    <mat-card-actions>  
        <button mat-button (click)="onClick()">  
            Add Files  
        </button>  
    </mat-card-actions>
    <mat-card-content>  
        <ul>  
            <li *ngFor="let file of files; let index = index">  
                <p class="file-label">  
                      {{index + 1}}. Certificate
                </p>  <p>
                    {{file.data.size / 1024}}
                </p>
                
                <button mat-button (click)="removeSelectedFile(index)">delete</button>
            </li>  
        </ul>  
    </mat-card-content>  
      
</mat-card><input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="*" style="display:none;" /></div>
